<div class="row align-items-stretch">
  <div
    class="col-lg-6 text-center col-padding"
    style="background: url('images/douri/logo.png') center center no-repeat; background-size: contain;"
  >
  </div>

  <div class="col-lg-6 text-left col-padding bg-contrast-100">
    <div class="heading-block border-bottom-0">
      <span class="before-heading color">About Douri</span>
      <h3>Welcome to Douri Association</h3>
    </div>

    <p class="fs-6 mb-3 text-justify">
      At Douri, we foster connections among artists, researchers, social workers and activists, across the
      diverse tapestry of European society.
    </p>
    <p class="fs-6 mb-3 text-justify">
      As a non-profit organization, headquartered in Luxembourg, our sociocultural initiative is dedicated to
      exploring, experimenting and advocating for intercultural exchange within Luxembourg and across Europe.
    </p>
    <p class="fs-6 mb-3 text-justify">
      Our mission revolves around creating tangible impacts within our communities. Through both physical and
      digital platforms hosting artistic and sociocultural projects, we aim to facilitate the integration of
      various groups and individuals.
    </p>
    <p class="fs-6 mb-3 text-justify">
      The name "Douri" derives from Arabic, meaning the sparrow, a resilient bird that thrives across the
      globe. Like the sparrow, we champion adaptability and integration, advocating for freedom of expression
      while staunchly opposing discrimination, inequality and violence.
    </p>
    <p class="fs-6 mb-3 text-justify">
      One of our key missions is to raise awareness about pressing ecological and environmental challenges in
      our modern world.
    </p>
    <p class="fs-6 mb-3 text-justify">
      Luxembourg serves as our launchpad for implementing projects utilizing diverse communicative tools: from
      visual art, social theater, and music to performances, workshops, books, qualitative research,
      conferences, and other innovative mediums.
    </p>
    <p class="fs-6 mb-3 text-justify">
      Our goal is to bridge societal gaps, emphasizing the core of human existence in a rapidly changing
      world.
    </p>
    <p class="fs-6 mb-3 text-justify">
      Join us on this journey of unity, expression and advocacy, as we strive to transcend boundaries,
      celebrate diversity and embrace the essence of humanity.
    </p>
  </div>
</div>

<style>
  .text-justify {
    text-align: justify !important;
  }
</style>
