<div class="section mt-5 p-0 min-vh-75 parallax scroll-detect scroll-detect-inview">
  <img
    src="images/douri/services/13.jpg"
    alt="Shape Divider Sample Image"
    class="w-100 h-100 position-absolute top-0 start-0 object-cover"
  />
  <div class="heading-block center">
    <h3>Join us now!</h3>
    <a href="volunteer.html" class="btn btn-primary btn-lg button-aqua">Join</a>
  </div>
  <div class="shape-divider" data-shape="wave-2" data-height="150"></div>
  <div class="shape-divider" data-shape="wave-2" data-position="bottom" data-height="150"></div>
</div>

<div class="container">
  <div
    id="oc-clients"
    class="owl-carousel image-carousel carousel-widget"
    data-margin="60"
    data-loop="false"
    data-nav="false"
    data-autoplay="5000"
    data-pagi="false"
    data-items-xs="1"
    data-items-sm="1"
    data-items-md="3"
    data-items-lg="3"
    data-items-xl="3"
  >
    <div class="oc-item p-4 op-ts op-05 h-op-1">
      <a href="#"><img src="images/douri/partners/european-commission.jpg" alt="European Commission" /></a>
    </div>
    <div class="oc-item p-4 op-ts op-05 h-op-1">
      <a href="#"><img src="images/douri/partners/commune-de-sanem.jpg" alt="Commune De Sanem" /></a>
    </div>
    <div class="oc-item p-4 op-ts op-05 h-op-1">
      <a href="#"><img src="images/douri/partners/fondation-sommer.jpg" alt="Fondation Sommer" /></a>
    </div>
  </div>
</div>

<style>
  .shape-divider {
    top: -45px !important;
  }

  .shape-divider[data-position="bottom"] {
    bottom: -45px !important;
  }

  .heading-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
